*.user
*.suo
*.pdb
bin
obj
packages

FollowupPluginTest/.vs/
FollowupPluginTest/FollowupPluginTest/obj/
FollowupPluginTest/FollowupPluginTest/bin/

ConsoleLDAPTest/.vs/
ConsoleLDAPTest/ConsoleLDAPTest/obj/
ConsoleLDAPTest/ConsoleLDAPTest/bin/

HelloWorldWCF/.vs/
HelloWorldWCF/HelloWorldClient/bin/
HelloWorldWCF/HelloWorldClient/obj/
HelloWorldWCF/HelloWorldService/bin/
HelloWorldWCF/HelloWorldService/obj/
HelloWorldWCF/WebSites/HostDevServer/Bin/

FlynetLDAPWCF/.vs/
FlynetLDAPWCF/LDAPHelper/bin/
FlynetLDAPWCF/LDAPHelper/obj/
FlynetLDAPWCF/FlynetLDAPService/bin/
FlynetLDAPWCF/FlynetLDAPService/obj/
FlynetLDAPWCF/FlynetLDAPClient/bin/
FlynetLDAPWCF/FlynetLDAPClient/obj/
FlynetLDAPWCF/FlynetLDAPPlugin/bin/
FlynetLDAPWCF/FlynetLDAPPlugin/obj/
FlynetLDAPWCF/FlynetLDAPWorkflow/bin/
FlynetLDAPWCF/FlynetLDAPWorkflow/obj/
FlynetLDAPWCF/WebSites/HostDevServer/Bin/
FlynetLDAPWCF/Files/FlynetLDAPServiceRef.cs

FlynetLDAPWCF/ContactUpdatePlugin/obj/
FlynetLDAPWCF/ContactUpdatePlugin/bin/
FlynetLDAPWCF/WebSites/
